.layout {
  background-color: #161618;
  width: 100vw;
  // min-height: 100vh;
  color: #fff;
  //
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.pageLayout {
  padding: 16px;
  box-sizing: border-box;
  overflow: hidden;
}
// .layout::-webkit-scrollbar {
//   width: 0;
// }
