.topThree {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
  min-height: 215px;
  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    position: relative;
    // border: 1px solid red;
    padding: 10px 5px;

    .userInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
      // border: 1px solid green;
    }
    .userImage {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      .placeNumberIcon {
        position: absolute;
        bottom: -15px;
      }
    }
    .userImage img {
      width: 100%;
      border-radius: 90%;
    }
    .userName {
      font-size: 21px;
    }
    .userStat {
      margin-top: 10px;
      display: flex;
      align-items: center;
      font-size: 13px;
      svg {
        margin-right: 5px;
      }
    }
  }
  .userSmallImg {
    .userImage img {
      width: 60%;
    }
  }
}
.gradientBorder {
  position: relative;
  padding: 2px; /* Внутренний отступ для контента */
  background: linear-gradient(45deg, #9bb4f5, #e9b9d5); /* Градиент для границы */
  border-radius: 24px; /* Закругление углов */
}

.gradientBorder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit; /* Наследуем градиент */
  z-index: -1; /* Убираем на задний план */
  border-radius: 24px; /* Закругление углов */
  filter: blur(5px); /* Размытие границы */
}

.boxRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  position: relative;
  margin-top: 30px;
  .box {
    height: 109px;
    width: 50%;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // box-sizing: border-box;
    position: relative;
    img {
      margin-bottom: 8px;
    }
    .firstRow {
      font-weight: bold;
      font-size: 32px;
      z-index: 1;
    }
    .secondRow {
      font-weight: medium;
      font-size: 15px;
      z-index: 1;
    }
  }
  .boxWhite {
    // background-color: #fff;
    color: #00120f;
    // div {
    //   color: #1c1c1f;
    // }
  }
  // .boxBlack {
  //   background-color: #1c1c1f;
  //   color: #fff;
  // }
  // .boxBlackContent {
  //   width: 100%;
  // }
}
.claimBtn {
  margin-top: 20px;
  height: 53px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    display: flex;
    align-items: center;
    color: #00120f;
    .btnText {
      font-size: 18px;
      margin-right: 20px;
    }
    .claimCount {
      display: flex;
      border-radius: 16px;
      background-color: #fff;
      align-items: center;
      padding: 5px 10px;
    }
  }
}

.greyPaper {
  background-color: #1c1c1f;
  width: 100%;
  box-sizing: border-box;
}
// .box {
//   display: flex;
//   justify-content: center;
//   align-items: center;

// }
