.topThree {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
  min-height: 215px;
  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    position: relative;
    // border: 1px solid red;
    padding: 10px 5px;

    .userInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
      // border: 1px solid green;
    }
    .userImage {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      .placeNumberIcon {
        position: absolute;
        bottom: -15px;
      }
    }
    .userImage img {
      width: 100%;
      border-radius: 90%;
    }
    .userName {
      font-size: 17px;
    }
    .userStat {
      margin-top: 5px;
      display: flex;
      align-items: center;
      font-size: 13px;
      svg,
      img {
        margin-right: 5px;
      }
    }
  }
  .userSmallImg {
    .userImage img {
      width: 60%;
    }
  }
}

// .gradientBorder::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: inherit; /* Наследуем градиент */
//   z-index: -1; /* Убираем на задний план */
//   border-radius: 24px; /* Закругление углов */
//   filter: blur(5px); /* Размытие границы */
// }

.boxRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  position: relative;
  margin-top: 16px;
  .box {
    height: 72px;
    width: 50%;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    // box-sizing: border-box;
    position: relative;
    z-index: 9;
    border: 1px solid #242427;
    background-color: #1c1c1f;

    .statImg {
      height: 40px;
      width: 40px;
    }
    .statData {
      margin-left: 10px;
    }
    // img {
    //   margin-bottom: 8px;
    // }
    .firstRow {
      font-weight: medium;
      font-size: 14px;
      z-index: 1;
      font-family: "FeatureMono", sans-serif;
      color: #8d8d8f;
    }
    .secondRow {
      font-weight: 600;
      font-size: 15px;
      z-index: 1;
    }
  }

  .boxStat {
    display: flex;
    justify-content: start;
    padding-left: 16px;
    // flex-direction: row;
  }

  .underClaimBlock {
    align-items: start;
    flex-direction: column;
    // @include flex-center;
    height: 128px;

    .firstRow {
      // padding: 0 16px;
      margin-left: 16px;
      font-weight: bold;
      font-size: 32px;
      z-index: 1;
    }
    .secondRow {
      // padding: 0 16px;
      margin-left: 16px;
      font-weight: medium;
      font-size: 15px;
      z-index: 1;
      margin-top: 25px;
      display: flex;
      align-items: center;
      width: 85%;
      justify-content: space-between;
    }
  }
  // .yourRank {
  //   background-color: #1c1c1f;
  // }
  // .boxWhite {
  //   background-color: #fff;
  //   // border: 1px solid red;
  //   color: #00120f;
  //   // div {
  //   //   color: #1c1c1f;
  //   // }
  // }
  // .boxBlack {
  //   background-color: #1c1c1f;
  //   color: #fff;
  // }
  // .boxBlackContent {
  //   width: 100%;
  // }
}

// .gradientBorder {
//   position: relative;
//   // padding: 2px; /* Внутренний отступ для контента */
//   background: linear-gradient(45deg, #9bb4f5, #e9b9d5); /* Градиент для границы */
//   border-radius: 24px; /* Закругление углов */
// }

.claimBtn {
  margin-top: 16px;
  height: 53px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(45deg, #9bb4f5, #e9b9d5); /* Градиент для границы */
  // transition: 0.3s ease;
  z-index: 4;
  overflow: hidden;
  // border-radius: 24px; /* Закругление углов */
  .content {
    display: flex;
    align-items: center;
    color: #00120f;
    position: relative;
    z-index: 4;

    .btnText {
      font-size: 18px;
      margin-right: 10px;
      font-family: "FeatureMono", sans-serif;
      font-weight: 600;
    }
    .claimCount {
      display: flex;
      border-radius: 16px;
      background-color: #000000;
      align-items: center;
      padding: 5px 4px 5px 8px;
      color: #fff;
      span {
        margin-left: 5px;
        font-weight: 600;
      }
      .coinImg {
        height: 24px;
        width: 24px;
        margin-left: 5px;
      }
    }
  }
}
.claimBtnInfo {
  height: 50px;
  // margin-top: -30px;
  margin-top: -50px;
  background: #1c1c1f;
  border-radius: 16px;
  border-left: 1px solid #242427;
  border-right: 1px solid #242427;
  border-bottom: 1px solid #242427;
  z-index: 0;
  transition: 0.7s ease;

  .content {
    color: #bbbbbc;
    font-family: "FeatureMono", sans-serif;
    font-size: 13px;
    margin-top: 13px;
  }
}
.claimBtnInfoActive {
  margin-top: -15px;
  transition: 0.3s ease;
  border-radius: 0 0 16px 16px;
}
.step2 {
  background: #27272a !important;
  .btnText {
    color: #868688 !important;
  }
}
.step3 {
  background: #fff !important;
}
.contentStep4 {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  .time {
    font-size: 13px;
    position: absolute;
    color: #868688;
    right: -55%;
  }
}
.step4 {
  background: #1c1c1f;
  .btnText {
    color: #ffffff !important;
  }
  .claimCount {
    background-color: rgba(0, 0, 0, 0) !important;
  }
}
.progress {
  // width: 100%;
  height: 100%;
  background-color: #27272a;
  position: absolute;
  left: 0;
  z-index: 2;
  transition: 0.1 ease;
}

.greyPaper {
  background-color: #1c1c1f;
  width: 100%;
  box-sizing: border-box;
}
// .box {
//   display: flex;
//   justify-content: center;
//   align-items: center;

// }
.currentUserProfileRow {
  position: fixed;
  bottom: 57px;
  width: 100%;
  border-top: 1px solid #262629;
  // border: 1px soli;
  background-color: #171717;
}

.topImg {
  position: relative;
  img {
    width: 100%;
  }
}
.shareContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .shareTitle {
    font-weight: 600;
    font-size: 21px;
    text-align: center;
  }
  .shareDescription {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    color: #b9b9ba;
    font-family: "FeatureMono", sans-serif;
    margin-top: 15px;
  }
  .shareActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
  }
  .copyLink {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d2f;
    gap: 8px;
    height: 56px;
    width: 56px;
    border-radius: 12px;
    // width: ;
  }
  .shareBtn {
    width: calc(100% - 64px);
    // svg {
    //   margin-top: 8px;
    //   margin-left: 10px;
    // }
  }
}
