.modal {
  position: fixed;
  background-color: #161618;
  border-radius: 24px 24px 0 0;
  left: 0;
  bottom: 0px;
  z-index: 99;
  overflow-y: scroll;
  transition: 0.2s ease-in-out;
  // position: relative;
}
.modalContent {
  width: 100%;
  min-height: 20vh;
  max-height: 90vh;
  height: auto;
  padding: 16px;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.closed {
  bottom: -100%;
}
.closedBg {
  opacity: 0 !important;
  z-index: -1 !important;
  transition: 0.2s ease-in-out;
}
.modalBg {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 80;
  transition: 0.2s ease-in-out;
}
.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
}
